{% extends "templates/web.html" %}

{%- block head_include %}

<link rel="stylesheet" href="/assets/erevive_portal/sky/vendors/feather/feather.css">
<link rel="stylesheet" href="/assets/erevive_portal/sky/vendors/ti-icons/css/themify-icons.css">
<link rel="stylesheet" href="/assets/erevive_portal/sky/vendors/css/vendor.bundle.base.css">

<link rel="stylesheet" href="/assets/erevive_portal/sky/css/vertical-layout-light/style.css">

{% endblock -%}


{% block page_content %}
<div class="content-wrapper rounded">
    <div class="row">
        <div class="col text-right">
            <a class="btn btn-primary mb-3" href="/partner/lead/new">Add New</a>
        </div>
    </div>
<div class="row">
<div class="col-lg-12 grid-margin stretch-card">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">Lead List</h4>
        <div class="table-responsive">
          <table class="table table-striped">
            <thead>
              <tr>
                <th>
                  Lead Id
                </th>
                <th>
                  Company
                </th>
                <th>
                  Contact
                </th>
                <th>
                  Email
                </th>
                <th>
                  State
                </th>
                <th>
                    Status
                </th>
              </tr>
            </thead>
            <tbody>
                {% for lead in leads %}
                <tr>
                    <td class="py-1">
                      {{ lead.name }}
                    </td>
                    <td>
                      {{ lead.company_name }}
                    </td>
                    <td>
                      {{ lead.contact_person }}
                    </td>
                    <td>
                      {{ lead.email_id }}
                    </td>
                    <td>
                      {{ lead.state}}
                    </td>
                    <td>
                        <label class="badge badge-danger">{{ lead.status }}</label>
                    </td>
                  </tr>
                  {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
</div>

{% endblock %}