{% extends "templates/web.html" %}

{%- block head_include %}

<link rel="stylesheet" href="/assets/erevive_portal/sky/vendors/feather/feather.css">
<link rel="stylesheet" href="/assets/erevive_portal/sky/vendors/ti-icons/css/themify-icons.css">
<link rel="stylesheet" href="/assets/erevive_portal/sky/vendors/css/vendor.bundle.base.css">

<link rel="stylesheet" href="/assets/erevive_portal/sky/css/vertical-layout-light/style.css">

{% endblock -%}

{% block page_content %}

<div class="content-wrapper rounded">
    <div class="row">
        <div class="col pb-3 text-right">
            {% if doc.disable == 1 %}
                Account Status : <span class="badge badge-danger">Pending for Approval</span>
            {% else %}
                Account Status : <span class="badge badge-success">Active</span>
            {% endif %}
        </div>
    </div>

    <div class="row">
        <div class="col">
            <div class="card">
                <form  id="frmFileUp">
                
                <div class="card-body">
                    <h4 class="card-title">My Business Profile</h4>
                        <div class="row">

                            {% for docs in meta.fields %}
                            
                            {% if docs.fieldtype == "Tab Break" %}
                            <div class="col-md-12">
                                <p class="card-description">
                                    {{docs.label}}
                                </p>
                            </div>

                            {% elif docs.fieldtype == "Check"%}

                            <div></div>
                            {% elif docs.fieldtype == "Column Break"%}

                            <div></div>

                            {% elif docs.fieldtype == "Link"%}
                            {% set options = frappe.get_all(docs.options)%}
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <div class="col-sm-12">
                                            <label class="">{{docs.label}}</label>

                                            <select class="form-control" id="{{docs.fieldname}}">
                                                <option>{{doc[docs.fieldname] or 'Please select'}}</option>
                                                {% for state in options %}
                                                <option>{{ state.name }}</option>
                                                {% endfor %}
                                            </select>
                                            </div>
                                            </div>
                                </div>
                                {% elif docs.fieldtype == "Select"%}
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <div class="col-sm-12">
                                                <label class="">{{docs.label}} </label>
                                                {% set options = docs.options %}
                                                {% set opt = list(options.split("\n"))%}
                                                  
                                                <select class="form-control" id="{{docs.fieldname}}">
                                                    <option value="{{ doc[docs.fieldname] or ''}}">{{ doc[docs.fieldname] or 'Please select'}}</option>
                                                    {% for op in opt %}
                                                        {% if op %}
                                                            <option>{{ op }}</option>
                                                        {% endif %}
                                                    {% endfor %}
                                                </select>
                                                </div>
                                                </div>
                                    </div>
                            {% elif docs.fieldtype == "Attach"%}
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <div class="col-sm-12">
                                                <label class="">{{docs.label}}</label>
                                                <input type="file"  class="form-control {{docs.fieldname}}" id="{{docs.fieldname}}" accept="application/pdf"/>
                                            </div>
                                        </div>
                                    </div>

                                    <script>
                                        frappe.ready(function() {
                                            $('#{{docs.fieldname}}').change(function(){
                                            var $input = $(this);
                                            var input = $input.get(0);
                                            console.log('file selected')
                                            
                                            if(input.files.length) {
                                                input.filedata = { "files_data" : [] }; //Initialize as json array.

                                                window.file_reading = true;

                                                $.each(input.files, function(key, value) {
                                                setupReader(value, input);
                                                });

                                                window.file_reading = false;
                                            }
                                            });

                                            
                                            
                                        });

                                        function setupReader(file, input) {
                                            var name = file.name;
                                            var reader = new FileReader();  
                                            reader.onload = function(e) {
                                            input.filedata.files_data.push({
                                                "__file_attachment": 1,
                                                "filename": file.name,
                                                "dataurl": reader.result
                                            })
                                            }
                                            reader.readAsDataURL(file);
                                        }
                                    </script>



                            {% else %}

                                <div class="col-md-6">
                                    <div class="form-group">
                                        <div class="col-sm-12">
                                            <label class="">{{docs.label}}</label>
                                            <input type="text" class="form-control" placeholder="{{docs.label}}" 
                                            id="{{docs.fieldname}}" value="{{doc[docs.fieldname] or ''}}">
                                        </div>
                                    </div>
                                </div>

                            {% endif %}
                            
                            
                            {% endfor%}

                            
                            <!-- <div class="col-md-6">
                               
                                <div class="form-group row">
                                    <div class="col-sm-12">
                                        <label >Attach Documents </label>
                                        <input type="file" class="form-control" id="anyFile">
                                    </div>
                                </div>
                            </div> -->
                        </div>
                        
                </div>
                </form>
                
            </div>
            <button class="btn btn-primary mt-3 btn-send" id="btn_upload1">Update</button>
        </div>
    </div>
</div>


<script>
    {% include "templates/includes/partner/partner-profile.js" %}
</script>

{% endblock %}