{% extends "templates/web.html" %}

{% block page_content %}

<div class="container">
    <div class="row">
        <div class="col text-right">
            {% if doc.disable == 1 %}
                Account Status : <span class="badge badge-danger">Pending for Approval</span>
            {% else %}
                Account Status : <span class="badge badge-success">Active</span>
            {% endif %}
        </div>
    </div>
    <div class="row">
        <div class="col m-2">
            <h5>Update Profile</h5>
        </div>
    </div>
    <div class="row border-bottom mb-3">
        <div class="col-md-6">
            <div class="page-card-body">

                <div class="form-group">
                    <label class="form-label sr-only" for="address_1">Address1</label>
                    <input type="text" id="address_1" class="form-control" placeholder="Address Line 1" required="" autofocus=""
                        autocomplete="name" value="{{doc.address_1 or ''}}">
                </div>
                <div class="form-group">
                    <label class="form-label sr-only" for="address_2">Address2</label>
                    <input type="text" id="address_2" class="form-control" placeholder="Address Line 2" required="" value="{{doc.address_2 or ''}}">
                </div>
                <div class="form-group">
                    <label class="form-label sr-only" for="city">City</label>
                    <input type="text" id="city" class="form-control" placeholder="City" required="" value="{{doc.city or ''}}">
                </div>

            </div>
        </div>

        <div class="col-md-6">
            <div class="page-card-body">
                <div class="form-group">
                    <label class="form-label sr-only" for="state">State Name</label>
                    <input type="text" id="state" class="form-control" placeholder="State Name" required="" autofocus=""
                        autocomplete="state" value="{{doc.state or ''}}">
                </div>
                <div class="form-group">
                    <label class="form-label sr-only" for="pincode">Pincode</label>
                    <input type="text" id="pincode" class="form-control" placeholder="Pin Code" required="" value="{{doc.pincode or ''}}">
                </div>
                <div class="form-group">
                    <label class="form-label sr-only" for="country">Country</label>
                    <input type="text" id="country" class="form-control" placeholder="Country" required="" value="{{doc.country or ''}}">
                </div>
            </div>
        </div>
    </div>


    <div class="row">
        <div class="col-md-6">
            <div class="page-card-body">
                <div class="form-group">
                    <label class="form-label sr-only" for="primary_contact_person">Primary Contact Person</label>
                    <input type="text" id="primary_contact_person" class="form-control" placeholder="Primary Contact Person" required="" autofocus=""
                        autocomplete="state" value="{{doc.primary_contact_person or ''}}">
                </div>
                <div class="form-group">
                    <label class="form-label sr-only" for="primary_contact_no">Primary Contact No</label>
                    <input type="text" id="primary_contact_no" class="form-control" placeholder="Primary Contact No" required="" value="{{doc.primary_contact_no or ''}}">
                </div>
                <div class="form-group">
                    <label class="form-label sr-only" for="email_id">Email</label>
                    <input type="text" id="email_id" class="form-control" placeholder="Email" required="" value="{{doc.email_id or ''}}" readonly>
                </div>
            </div>
        </div>

        <div class="col-md-6">
            <div class="page-card-body">
                <div class="form-group">
                    <label class="form-label sr-only" for="alternate_contact_person">Alternate Contact Person</label>
                    <input type="text" id="alternate_contact_person" class="form-control" placeholder="Alternate Contact Person" required="" autofocus=""
                        autocomplete="state" value="{{doc.alternate_contact_person or ''}}">
                </div>
                <div class="form-group">
                    <label class="form-label sr-only" for="alternate_contact_no">Primary Contact No</label>
                    <input type="text" id="alternate_contact_no" class="form-control" placeholder="Alternate Contact No" required="" value="{{doc.alternate_contact_no or ''}}">
                </div>
                <div class="form-group">
                    <label class="form-label sr-only" for="alternate_email_id">Email</label>
                    <input type="text" id="alternate_email_id" class="form-control" placeholder="Alternate Email" required="" value="{{doc.alternate_email_id or ''}}">
                </div>
            </div>
        </div>

    </div>

    <div class="row">
        <div class="col">
            <div class="page-card-actions">
                <button class="btn btn-sm btn-primary btn-block btn-send">Update</button>
            </div>

        </div>
    </div>
</div>

<script>
    {% include "templates/includes/partner/partner-profile.js" %}
</script>

{% endblock %}