{% extends "templates/web.html" %}

{%- block head_include %}

<link rel="stylesheet" href="/assets/erevive_portal/sky/vendors/feather/feather.css">
<link rel="stylesheet" href="/assets/erevive_portal/sky/vendors/ti-icons/css/themify-icons.css">
<link rel="stylesheet" href="/assets/erevive_portal/sky/vendors/css/vendor.bundle.base.css">

<link rel="stylesheet" href="/assets/erevive_portal/sky/css/vertical-layout-light/style.css">

{% endblock -%}


{% block page_content %}

<div class="content-wrapper rounded">
    <div class="row">
        <div class="col">

            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Add New Lead Info</h4>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="form-label">Company Name</label>
                                <input type="text" class="form-control" id="company_name">
                            </div>
                        </div>
                    
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="form-label">Contact Person Name</label>
                                <input type="text" class="form-control" id="contact_person">
                            </div>
                        </div>
                    
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="form-label">Contact Number</label>
                                <input type="number" class="form-control" id="contact_no">
                            </div>
                        </div>
                    
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="form-label">Email Id</label>
                                <input type="email" class="form-control" id="email_id">
                            </div>
                        </div>
                    
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="form-label">Interested in Product</label>
                                <select class="form-control product" id="product">
                                    <option value="">Please Select Product</option>
                                    {% for product in products %}
                                        {% if product.category == 'Product' %}
                                            <option value="{{ product.product_name }}">{{ product.product_name }}</option>
                                        {% endif %}
                                    {% endfor %}
                                </select>
                            </div>
                        </div>

                        <script>
                            frappe.ready(function(){
                                $("#product").change(function(){
                                    var product = $("#product").val();
                                    var product_name = $(".product").val();
                                    console.log(product_name)
                                    frappe.call({
                                        method: "erevive_portal.templates.pages.partner.lead.new.index.fetch_category_product",
                                        args: { "category": product },
                                        freeze: true,
                                        callback: function (r) {
                                            if (!r.exc) {
                                                document.getElementById("create_product_list").innerHTML = r.message
                                            } 
                                        }
                                    });
                                    

                                });
                            });
                        </script>
                    <div class="col-md-6" id="create_product_list">
                        
                    </div>
                        <div class="col-md-12">
                            <div class="form-group">
                                <label class="form-label">Remarks / Customer Requirements</label>
                                <textarea class="form-control" rows="4" cols="50" id="remarks"></textarea>
                            </div>
                        </div>
                    </div>
                    
                    <p class="card-description"> Address </p>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <div class="col-sm-12">
                                    <label >Address 1</label>
                                    <input type="text" class="form-control" id="address_1">
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <div class="col-sm-12">
                                    <label >State</label>
                                    <select class="form-control" id="state">
                                        <option value="">Please Select State</option>
                                        {% for state in states %}
                                        <option> {{ state.name }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>
                        </div>
                    
                        <div class="col-md-6">
                            <div class="form-group ">
                                <div class="col-sm-12">
                                    <label >Address 2</label>
                                    <input type="text" class="form-control" id="address_2">
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group ">
                                <div class="col-sm-12">
                                    <label >Pincode</label>
                                    <input type="text" class="form-control" id="pincode">
                                </div>
                            </div>
                        </div>
                    
                        <div class="col-md-6">
                            <div class="form-group">
                                <div class="col-sm-12">
                                    <label >City</label>
                                    <input type="text" class="form-control" id="city">
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group ">
                                <div class="col-sm-12">
                                    <label >Country</label>
                                    <select class="form-control" id="country">
                                        <option value="">Please Select Country</option>
                                        {% for country in countries %}
                                        <option> {{ country.name }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>


    <div class="row">
        <div class="col">
                <button class="btn btn-primary btn-send mt-3">Save</button>
        </div>
    </div>
</div>

{% endblock %}