{% extends "templates/web.html" %}

{% block page_content %}

<div class="container">

    <div class="row">
        <div class="col-7">
            <div class="hero">
                <div class="hero-content">
                    <h1 class="hero-title">Erevive Partner Program</h1>
                    <h4 class="mt-5">Join the most profitable software solution ecosystem.</h4>
                    <p class="hero-subtitle">
                        Our relationship with our partners is bound by emotion. Many of our partners have been with us since the
                        beginning of time. We have grown and matured together, always rising, never stopping. Join us today and
                        become a part of this exceptional journey towards excellence and perfection.
                    </p>
                </div>
                <a class="btn btn-primary" href="/partner/signup">Become Partner</a>
            </div>
        </div>
        <div class="col mt-10 ml-5"><img src="/assets/erevive_portal/sky/images/partner2.jpeg"></div>
    </div>


</div>
</div>

<div class="container mt-10">
    <h2 class="section-title">Why Partner with us ?</h2>
        <ul>
            <li><p class="hero-subtitle">We value relationship</p></li>
            <li><p class="hero-subtitle">One place for all your customer's business software need</p></li>
            <li><p class="hero-subtitle">We sell software and solutions by showing product not presentations</p></li>
            <li><p class="hero-subtitle" style="max-width: 60rem;">We understand challenges of your customers while adopting new technology</p></li>
        </ul>

</div>

<div class="container mt-10">
    <div class="section-with-features">
        <h2 class="section-title">Credible Partnership</h2>
        <p class="section-description" style="max-width: 100%;">Reliable backbone of Partners. A little win for a Partner is a bigger win for us, this opens doors for new opportunities.</p>
        <div class="section-features" data-columns="3">
            <div class="section-feature">
                <div>
                    <h3 class="feature-title mt-0">Trust</h3>
                    <p class="feature-content"></p>
                    <p>We work behind the scene and hundreds of our Partners fully trust us for our expertise They believe in Erevive to bring them Success and growth.</p>
                    <p></p>
                </div>
            </div>
            <div class="section-feature">
                <div>
                    <h3 class="feature-title mt-0">Collaboration</h3>
                    <p class="feature-content"></p>
                    <p>Working together is awesome. We help you connect with Partners across the globe for your specific requirements.</p>
                    <p></p>
                </div>
            </div>
            <div class="section-feature">
                <div>
                    <h3 class="feature-title mt-0">Growth</h3>
                    <p class="feature-content"></p>
                    <p>Achieve win-win opportunities and sustainable growth working with Erevive Partner network.</p>
                    <p></p>
                </div>
            </div>
        </div>
    </div>

<div class="container mt-10">
    <div class="section-cta-container">
        <div class="section-cta">
            <h2 class="title mt-0">Let's Grow Together &#128519;</h2>
            <p class="subtitle" style="max-width: 70%;">We are best in this business and our DNA is hardwired to keep our promises and commitments. We gurantee success and growth in your business.</p>
            <div class="mt-3">
                <h4 class="action">
                    <a class="no-decoration" href="/partner/signup">Join Now
                        <svg class="icon icon-md">
                            <use href="#icon-right"></use>
                        </svg>
                    </a>
                </h4>
            </div>
        </div><a class="stretched-link" href="/partner/signup"></a>
    </div>
</div>

<div class="container mt-10">
    <div class="section-with-features">
        <h2 class="section-title">Our Office Address:</h2>
        <div class="section-features" data-columns="4">
            <div class="section-feature">
                <div>
                    <h3 class="feature-title mt-0">MUMBAI - HO</h3>
                    <p class="feature-content"></p>
                    <p>A-205, Arpita,
                        Borivali (West)
                        Mumbai-400092,
                        Maharashtra,
                        India</p>
                    <p></p>
                </div>
            </div>
            <div class="section-feature">
                <div>
                    <h3 class="feature-title mt-0">AHMEDABAD</h3>
                    <p class="feature-content"></p>
                    <p>D-302, Titanium City Center,
                        Ahmedabad -380015
                        Gujarat,
                        India
                    <p></p>
                </div>
            </div>
            <div class="section-feature">
                <div>
                    <h3 class="feature-title mt-0">VAPI</h3>
                    <p class="feature-content"></p>
                    <p>309, Tirupati Towers,
                        GIDC Cross Roads,
                        Vapi-396195,
                        Gujarat,
                        India</p>
                    <p></p>
                </div>
            </div>
            <div class="section-feature">
                <div>
                    <h3 class="feature-title mt-0">RAIPUR</h3>
                    <p class="feature-content"></p>
                    <p>116, National Corporate Park,
                        GE Road,
                        Raipur,
                        Chhattisgarh,
                        India</p>
                    <p></p>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}