{% extends "templates/web.html" %}

{% block page_content %}

    <div class="container">
        <h3>Welcome to eRevive Partner eco System</h3>
        <p>Leorem ipsum Leorem ipsum Leorem ipsum Leorem ipsum Leorem ipsumLeorem ipsum Leorem ipsum Leorem ipsum Leorem ipsum Leorem ipsum Leorem ipsum Leorem ipsum Leorem ipsumLeorem ipsum Leorem ipsum Leorem ipsum</p>
        <h4>Why Partner with us ?</h4>
        <ul>
            <li>We value relationship</li>
            <li>We understand challenges of SME</li>
            <li>One place for all your business software need</li>
            <li>We sell solutions by showing product not presentations</li>
        </ul>

        <a class="btn btn-primary" href="/partner/signup">Become Partner</a>

    </div>

{% endblock %}