{% extends "templates/web.html" %}

{%- block head_include %}
<link rel="stylesheet" href="/assets/erevive_portal/sky/vendors/feather/feather.css">
<link rel="stylesheet" href="/assets/erevive_portal/sky/vendors/ti-icons/css/themify-icons.css">
<link rel="stylesheet" href="/assets/erevive_portal/sky/vendors/css/vendor.bundle.base.css">
<link rel="stylesheet" href="/assets/erevive_portal/sky/css/vertical-layout-light/style.css">

{% endblock -%}

{% block page_content %}

<div class="container">
    <div class="content-wrapper rounded">
        {% set type = frappe.form_dict.type %}
        <!-- <h2><strong>List of {{type}}</strong> </h2> -->
        <!-- <button class="btn btn-primary" id="sendmsg">Send MSG</button> -->
        {% if type == "Tally Addons" %}
        <h2><strong>List of Tally Revive Add-On</strong> </h2>
            <div class="row">
                <div class="col-md-9">
                    <input class="form-control mb-3 custom-select-lg"  id="searchinput" type="search" placeholder="Type Something..."
                        aria-label="Search">
                </div>
                <div class="col-md-3">
                    <select class="form-control mb-3 custom-select custom-select-lg" id="selectiput" type="search">
                        {% set options = frappe.get_all("Addon Category", fields=["*"]) %}
                        <option value="">All {{type}}</option>
                        {% for opt in options %}
                        <option>{{opt.name}} </option>
                        {% endfor %}
                    </select>
                </div>
            </div>
            {% elif type=="Product" %}
            <h2><strong>List of  Products</strong> </h2>

        {% endif %}
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>Product Code</th>
                    <th>Tally Revive Add-On Category</th>
                    <th>Tally Revive Add-On</th>
                    <th>End User Pricing *</th>
                </tr>
            </thead>
            <tbody>
             
        <!-- <div class="row"> -->

            {% for product in products %}

            {% if type == product.category %}
            <tr class="results">
                <td>{{ product.name }}</td>
                <td>{{ product.addon_category }}</td>
                <td>{{ product.product_name }}</td>
                <td>{{ product.price |int}}</td>

            </tr>
            <!-- <div class="col-sm-12 mb-3 results">
                <div class="card">
                     <div class="card-body">

                        <div class="row">
                            <div class="col-md-3">
                                <img class="card-img-top img-fluid" src="{{ product.image or 'https://crpf.gov.in/writereaddata/Portal/DGIGMaster_Photos/1_126_1_istockphoto-1357365823-612x612.jpg'}}" alt="Card image cap">
                            </div>
                            <div class="col-md-9">
                                <div class="row">
                                    <div class="col mt-2">
                                        <h4><strong>{{ product.product_name }}</strong> </h4>

                                        <h3>{{ product.price }}</h3>
                                        <h5>Code : {{ product.name }}</h5>
                                        <p class="font-weight-400 mb-0">{{ product.product_description[:150] }} </p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-2 mt-2">
                                        <label class="badge badge-warning">{{ product.addon_category}}</label>
                                    </div>
                                    <div class="col-md-10 mt-2 text-right">
                                       
                                        {% if product.product_name == "Tally Addons" %}
                                        {% set link_url = 'products?type=Tally Addons' %}
                                        <a href="{{ link_url }}" type="button" class="btn btn-primary ">
                                            <i class="ti-eye"></i> View Product
                                        </a>
                                        {% else %}
                                        <a href="/products/product_details?p={{product.name }}" type="button" class="btn btn-primary ">
                                            <i class="ti-eye"></i> View Product
                                        </a>
                                        {% endif %}

                                        {% if product.youtube_link %}
                                        <a href="{{ product.youtube_link }}" target="_blank" type="button"
                                            class="btn btn-outline btn-rounded btn-icon">
                                            <svg xmlns="http://www.w3.org/2000/svg" height="20"
                                                viewBox="-35.20005 -41.33325 305.0671 247.9995">
                                                <path
                                                    d="M229.763 25.817c-2.699-10.162-10.65-18.165-20.748-20.881C190.716 0 117.333 0 117.333 0S43.951 0 25.651 4.936C15.553 7.652 7.6 15.655 4.903 25.817 0 44.236 0 82.667 0 82.667s0 38.429 4.903 56.85C7.6 149.68 15.553 157.681 25.65 160.4c18.3 4.934 91.682 4.934 91.682 4.934s73.383 0 91.682-4.934c10.098-2.718 18.049-10.72 20.748-20.882 4.904-18.421 4.904-56.85 4.904-56.85s0-38.431-4.904-56.85"
                                                    fill="red" />
                                                <path d="M93.333 117.559l61.333-34.89-61.333-34.894z" fill="#fff" />
                                            </svg>
                                        </a>
                                        {% endif %}
                                    </div>
                                </div>

                            </div>

                        </div>
                    </div>
                </div>
            </div> -->
            {% endif %}

            {% if loop.index % 3 == 0 %}

            <div class="w-100"></div>
            {% endif %}

            {% endfor %}
   
        </tbody>
    </table>


        <!-- </div> -->
    </div>
</div>
{% endblock %}