{% extends "templates/web.html" %}

{%- block head_include %}
<link rel="stylesheet" href="/assets/erevive_portal/sky/vendors/feather/feather.css">
<link rel="stylesheet" href="/assets/erevive_portal/sky/vendors/ti-icons/css/themify-icons.css">
<link rel="stylesheet" href="/assets/erevive_portal/sky/vendors/css/vendor.bundle.base.css">
<link rel="stylesheet" href="/assets/erevive_portal/sky/css/vertical-layout-light/style.css">

{% endblock -%}

{% block page_content %}

<div class="container">
    <div class="content-wrapper rounded">

        <div class="row">

            {% for product in products %}

            <div class="col-sm-4 mb-3">
                <div class="card">
                    <div class="card-body mt-3 ml-2 p-1">
                        <h4>{{ product.product_name }}</h4>
                    </div>
                    <img class="card-img-top img-fluid" src="{{ product.image }}" alt="Card image cap">
                    <div class="card-body">
                        
                        <div class="row">
                            <div class="col">
                                <h3>{{ product.price }}</h3>
                                <h5>Code : {{ product.name }}</h5>
                                <p class="font-weight-500 mb-0">{{ product.product_description }} </p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-2 mt-2"><label class="badge badge-warning">{{ product.category }}</label></div>
                            <div class="col mt-2 text-right">
                                <!-- <a type="button" class="btn btn-outline btn-rounded btn-icon">
                                    <i class="ti-shopping-cart"></i>
                                </a> -->
                                <a href="{{ product.web_route }}" type="button" class="btn btn-outline btn-rounded btn-icon">
                                    <i class="ti-write"></i>
                                </a>
                                {% if product.youtube_link %}
                                <a href="{{ product.youtube_link }}" target="_blank" type="button" class="btn btn-outline btn-rounded btn-icon">
                                    <svg xmlns="http://www.w3.org/2000/svg" height="20" viewBox="-35.20005 -41.33325 305.0671 247.9995"><path d="M229.763 25.817c-2.699-10.162-10.65-18.165-20.748-20.881C190.716 0 117.333 0 117.333 0S43.951 0 25.651 4.936C15.553 7.652 7.6 15.655 4.903 25.817 0 44.236 0 82.667 0 82.667s0 38.429 4.903 56.85C7.6 149.68 15.553 157.681 25.65 160.4c18.3 4.934 91.682 4.934 91.682 4.934s73.383 0 91.682-4.934c10.098-2.718 18.049-10.72 20.748-20.882 4.904-18.421 4.904-56.85 4.904-56.85s0-38.431-4.904-56.85" fill="red"/><path d="M93.333 117.559l61.333-34.89-61.333-34.894z" fill="#fff"/></svg>
                                </a>
                                {% endif %}
                            </div>
                        </div>
                        <div class="row">
                            
                        </div>
                    </div>
                </div>
            </div>

            {% if loop.index % 3 == 0 %}
                <div class="w-100"></div>
            {% endif %}

            {% endfor %}



        </div>
    </div>
</div>
{% endblock %}