{% extends "templates/web.html" %}

{% block page_content %}

<div class="container">
    <section class="h-100 h-custom">
        <div class="container py-5 h-100">
            <div class="row d-flex justify-content-center align-items-center h-100">
                <div class="col-lg-8 col-xl-6">
                    <div class="card rounded-3">
                        <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-registration/img3.webp"
            class="w-100" style="border-top-left-radius: .3rem; border-top-right-radius: .3rem;"
            alt="Sample photo">
                        <div class="card-body p-4 p-md-5">
                            <h3 style="margin-top: 0rem">Partnership Request</h3>

                                <div class="page-card-body">
                                    <div class="form-group">
                                        <label class="form-label sr-only" for="signup_fullname">Company Name</label>
                                        <input type="text" id="company" class="form-control" placeholder="Company Name" required="" autofocus="" autocomplete="name">
                                    </div>
                                    <div class="form-group">
                                        <label class="form-label sr-only" for="signup_email">Contact Person</label>
                                        <input type="text" id="contact_person" class="form-control" placeholder="Contact Person" required="">
                                    </div>
                                    <div class="form-group">
                                        <label class="form-label sr-only" for="signup_email">Mobile No</label>
                                        <input type="text" id="mobile" class="form-control" placeholder="Mobile Number" required="">
                                    </div>
                                    <div class="form-group">
                                        <label class="form-label sr-only" for="signup_email">Email</label>
                                        <input type="email" id="email" class="form-control" placeholder="Business Email Id" required="">
                                    </div>                                    
                                </div>
                                <div class="page-card-actions">
                                    <button class="btn btn-sm btn-primary btn-block btn-send">Request</button>
                            
                                    <p class="text-center sign-up-message">
                                        <a href="/login" class="blue">Have an account? Login</a>
                                    </p>
                                </div>
                        
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>

<script>
	{% include "templates/includes/partner/partner-signup.js" %}
</script>
{% endblock %}